.searchBarContainer {
  width: 430px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.searchInput {
  text-align: center;
  width: 215px;
  height: 30px;
  font-size: 0.8em;
  background-color: #fafafa;
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 0.85rem;
  color: #262626;
  border: 0.0625em solid #DBDBDB;
  border-radius: 3px;
}

.searchIcon {
  display: inline-flex;
  width: 15px;
  height: 15px;
  background-color: transparent;
  color: white;
  border-radius: 9999px;
  position: absolute;
  margin-right: 148px;
}

.searchInput:focus {
  text-align: left;
  padding-left: 30px;
}

.searchInput:focus + .searchIcon {
  visibility: hidden;
}
