.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileTop {
  display: flex;
  min-width: 700px;
  max-width: 1000px;
  margin: 30px auto;
}

.profileAvatarBox {
  display: flex;
  justify-content: center;
  min-width: 230px;
}

.profileAvatarContainer {
  display: block;
  height: 150px;
  width: 150px;
  border-radius: 75px;
  overflow: hidden;
}

.profileAvatarContainer img {
  max-width: 150px;
}

.profileBox {
  display: flex;
  flex-direction: column;
  min-width: 450px;
  max-width: 550px;
  margin: 20px 0;
}

.profileNameAndButtons {
  display: flex;
}

.profileUserName {
  font-size: 1.5em;
  margin-bottom: 18px;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.profileDetails {
  display: flex;
  flex-direction: column;
}

.profileCounts {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 20px;
}

.profileCountsNumber {
  display: inline;
  font-weight: bold;
}

.profileUsername {
  display: inline;
  font-weight: bold;
}

.profileContainer .imageContainer {
  max-width: 935px;
}

.profileSwitchBox {
  width: 100%;
  border: 1px solid #DDDDDD;
  border-width: 1px 0 0;
}
