.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileTop {
  display: flex;
  min-width: 700px;
  max-width: 1000px;
  margin: 30px auto;
}

.profileAvatarBox {
  display: flex;
  justify-content: center;
  min-width: 200px;
}

.profileAvatarContainer {
  display: block;
  height: 125px;
  width: 125px;
  background-color: black;
}

.profileBox {
  display: flex;
  flex-direction: column;
  min-width: 450px;
  max-width: 550px;
  margin: 20px 0;
}

.profileNameAndButtons {
  display: flex;
}

.profileCounts {
  display: flex;
  justify-content: space-between;
  width: 400px;
}


.profileContainer .imageContainer {
  max-width: 935px;
}

.profileSwitchBox {
  width: 100%;
  border: 1px solid #DDDDDD;
  border-width: 1px 0 0;
}
