.picContainer {
  height: 500px;
  width: 500px;
  background-color: red;
}

.pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.input-file-container {
  position: relative;
  width: 225px;
}

.inpuut-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}

.input-file-trigger {
  display: block;
  padding: 14px 45px;
  background: #39d2b4;
  color: #fff;
  font-size: 1em;
  transition: all 0.4s;
  cursor: pointer;
}

.input-file:hover + .input-file-trigger,
.input-file:focus + .input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
  /* background: #34495e;
  color: #39d2b4; */
  cursor: pointer;
}

.outerContainer {

}

.topContainer {

}

.backBtn {

}

.title {

}

.bottomContainer {

}

.leftContainer {

}

.picToUpload {

}

.rightContainer {

}

.rightOne {

}

.username {

}

.rightTwo {

}

.caption {

}

.rightThree {

}

.title {

}

.rightFour {
  
}

.hashtags {

}

.emptyDiv {

}

.btnContainer {

}
