/* TODO Add site wide styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color: #262626;
}
html {
    background-color: #FAFAFA;
}
.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;

}

.logo {
    font-family: 'Grand Hotel', cursive;
    font-size: 32px;
    letter-spacing: 1.1px;
    color: #231F20;
}

.logo:active {
    color: rgba(0, 0, 0, 0.5);
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    border-bottom: 1px solid #DBDBDB;
    padding: 0 20px;
    background-color: white;
    z-index: 1;
}

.links {
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
.button {             /* Add class to all buttons and button-like objects unless otherwise needed not to */
  user-select: none;  /* Prevents user from highlighting the button */
  cursor: pointer;    /* Makes the cursor default to a pointer even when there's an image as a child */
}

.button.blueButton {
  background-color: #0095f6;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  padding: 5px 30px;
  font-size: 0.9rem;
  font-weight: 500;
}

.home_button {
    height: 33px;
}

.home_button:active {
    opacity: 0.4;
}

.titleContainer {
    display: flex;
    align-items: center;
    margin-left: 14px;
}

.avatarContainer {
    cursor: pointer;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    overflow: hidden;
}

.avatarContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modalContainer {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.modalContainer button{
    border: none;
    background: transparent;
    width: 400px;
    height: 48px;
    padding: 4px 8px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.red {
    color: #ed4956;
    font-weight: 700;

}

.dropdown_menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown_content {
    position: absolute;
    width: 483px;
    height: max-content;
    opacity: 0;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    pointer-events: none;
    top: calc(100% + 0.25rem);
    left: -450px;
    border-radius: 5px;
    transform: translateY(-10px);
    transition: opacity 0.2s, transform 0.2s ;
    word-wrap: break-word;
}

.dropdown_content.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.eventAvatar {
    padding-bottom: 15px;
}

.eventUser {
    font-weight: 500;
    color: #262626;
}
