/* TODO Add site wide styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;

}

.logo {
    font-family: 'Grand Hotel', cursive;
    font-size: 32px;
    letter-spacing: 1.1px;
    color: #231F20;
}

.logo:active {
    color: rgba(0, 0, 0, 0.5);
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    border-bottom: 1px solid #DBDBDB;
    padding: 0 20px;
    background-color: white;
}

.links {
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
