.outerContainer {
  height: 825px;
  margin: 0 auto;
  width: 350px;
  margin-top: 50px;
}

.topInnerContainer {
  border: 1px solid rgb(142, 142, 142);
  background-color: rgb(255, 255, 255);
  height: 800px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  background-color: rgb(255, 255, 255);
  height: 90px;
  width: 350px;
  color: rgb(38, 38, 38);
  font-size: 45px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  background-color: rgb(255, 255, 255);
  height: 60px;
  font-weight: 500;
  font-size: 15px;
  color: rgb(142, 142, 142);
  width: 270px;

}

.btnContainer {
  border-bottom: rgb(142, 142, 142) .5px solid;
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 270px;
  padding-bottom: 10px;
}

.btnContainer2 {
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 350px;
  display: flex;
  justify-content: center;
}

.demoBtn {
  background-color: rgb(0, 149, 246);
  font-size: 15px;
  font-weight: 500;
  color: white;
  width: 270px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.divisorContainer {
  background-color: rgb(255, 255, 255);
  height: 30px;
  width: 100%;
  text-align: center;
  line-height: 0.0em;
}

.middleDivisor {
  background-color: rgb(255, 255, 255);
  color: rgb(142, 142, 142);
  font-size: 12.5px;
  font-weight: 600;
  top: 10px;
  height: 30px;
  width: 55px;
  background:#fff;
  padding:0 7.5px;
}

.inputsContainer {
  background-color: rgb(255, 255, 255);
  height: 447.5px;
  width: 350px;
}

.inputContainer {
  box-sizing: border-box;
  background-color: rgb(250,250,250);
  border: .75px solid rgb(142, 142, 142);
  height: 40px;
  font-size: 12.5px;
  border-radius: 5px;
  width: 270px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.signUpBtn {
  background-color: rgb(0, 149, 246);
  font-size: 15px;
  color: white;
  width: 270px;
  height: 30px;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.demoBtn:active, .signUpBtn:active {
  opacity: .75;
}

.policyContainer {
  width: 270px;
  height: 80px;
  font-size: 11px;
}

.em {
  font-size: 12px;
  font-weight: 700;
}

.lowerInnerContainer {
  margin-top: 12.5px;
  border: 1px solid rgb(142, 142, 142);
  background-color: white;
  height: 70px;
  width: 350px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: rgb(0, 149, 246);
  margin-left: 5px;
}

div.fileinputs {
  display: flex;
  justify-content: center;
}

div.fakefile {
	position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
}

input.file {
  cursor: pointer;
	opacity: 0;
	z-index: 2;
}

.uploadLabel {
  margin-right: 12.5px;
  cursor: pointer;
}

.uploadPic {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-left: 95px;
}
