.exploreCenter {
    display: flex;
    justify-content: center;
}

.exploreContainer {
    /* ===GLOBAL VARIABLES===*/
    --gap: 28px;
    --num-cols: 3;
    --row-height: 293px;
    
    box-sizing: border-box;
    padding: 30px 20px;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    width: 975px;
}

.exploreItem {
    position: relative;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.exploreItem > img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exploreItem:first-child {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.exploreItem:nth-child(11n) {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.iconsContainer {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 150px;
    z-index: 1000000;
}

.iconsItem {
    opacity: 0;
    visibility: 0;
    display: flex;
    align-items: center;
    gap: 6px;
    color: white;
    font-weight: 500;
    z-index: 1000000;
}

.exploreItem:hover .iconsItem{
    opacity: 1;
    visibility: visible;
}

.iconsItem img {
    height: 24px;
    width: 24px;
    filter: invert(1)
}

/* Anything under 1024 px */
/* @media screen and (max-width: 900px) {
    .exploreContainer {
        --num-cols: 2;
        --row-height: 200px
    }
} */
