.exploreWrapper {
    display: flex;
    justify-content: center;
}

.exploreContainer {
    /* ===GLOBAL VARIABLES===*/
    --gap: 28px;
    --num-cols: 3;
    --row-height: 293px;

    box-sizing: border-box;
    padding: 30px 20px;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    margin-top: 0px;
    width: 975px;
}

.exploreItem {
    position: relative;
    background-color: #000;
}

.exploreItem > img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.exploreItem > img:hover {
    opacity: .6;
}

/* Anything under 1024 px */
@media screen and (max-width: 1024px) {
    .exploreContainer {
        --num-cols: 2;
        --row-height: 200px
    }
}
