.noResultsContainer {
    width: 614px;
    height: 450px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    margin: 30px auto 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.noResultsMessage {
    color: #8E8E8E;
    font-size: 1.55rem;
}
