/* ========================================
                  CARD VIEW
==========================================*/

/* ====================
    image section
======================*/

.imageCard {
    width: 614px;
    height: 100%;
    margin: 1.5rem 1rem 0.25rem;
    border: 1px solid #DBDBDB;
    border-radius: 2.5px;
    /* max-height: 800px; */
    min-height: 250px;
    background-color: white;
}


.individualImage > img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
}



/* ====================
    title section
======================*/

.image_username {
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #262626;
    font-size: 14px;
}

/* ====================
    comment section
======================*/

.createComment {
    min-height: 40px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    max-height: max-content;
    margin-top: 15px;
}

.createComment form {
    width: 100%;
    box-sizing: border-box;
}

.createComment textarea {
    flex-grow: 1;
    resize: none;
    width: 100%;
    border: none;
    height: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.075);
    box-sizing: border-box;
    padding: 10px 12.5px;
    max-height: max-content;
}

.createComment textarea::-webkit-scrollbar {
    display: none;
}


.createComment textarea:focus-visible {
    outline: none;
}

.createComment textarea:focus-visible ~ button {
    outline: none;
    color: #0095f6;
    cursor: pointer;
}


.createComment button {
    height: 40px;
    position: absolute;
    right: 12.5px;
    background-color: transparent;
    border: none;
    font-weight: 500;
    color: rgba(0, 149, 246, 0.3);
}

.caption {
    display: flex;
    gap: 5px;
    padding: 0 0 0 20px;
    font-size: 14px;
}

.caption_username {
    font-weight: 500;
}

.caption_username:hover {
    text-decoration: underline;
}

.eachComment {
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
    justify-content: space-between;
}

.commentInfo {
    padding-left: 20px ;
    display: flex;
    gap: 5px;
}

.commentList p {
    font-size: 14px;
    padding: 2.5px 0;
}

.commentBody {
    word-break: break-all;
}

.comment_username {
    font-weight: 500;
}

.modal {
    opacity: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    transition: opacity 0.2s;
}
.imageCard .modal {
    margin-right: 14px;
}

.eachComment:hover {
    background: rgba(0, 0, 0, .05);
}

.eachComment:hover .modal {
   opacity: 1;
}
/* ====================
    hashtags section
======================*/

.hastagList {
    padding: 0 0 0 20px;
    display: flex;
    gap: 5px;
}

.hastagList button {
    background-color: transparent;
    border: none;
    color: #0095f6;
    cursor: pointer;
}

.hastagList button::before {
    content: "#";
}

/* ====================
    likes section
======================*/

.likes_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 0 0 20px;
}

.likes_container button {
    margin: 10px 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.liked {
    filter: invert(42%) sepia(86%) saturate(1300%) hue-rotate(324deg) brightness(90%) contrast(107%);
}

.liked[animateGrow='1'] {
    animation: grow .3s ease-in;
}

.unliked[animateGrow='1'] {
    animation: grow .3s ease-in;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.likes_container div {
    font-size: 14px;
    font-weight: 500;
}




/* ========================================
                  TILE VIEW
==========================================*/

/* ====================
    tile image section
======================*/

.tileContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
}

.imageTile {
  display: block;
  position: relative;
  margin: 1.5rem 0.9rem 0.25rem;
  cursor: pointer;
}
.imageTile:hover .imageCover {
  opacity: 1;
  transition: opacity 0.26s;
}
.imageWrapper {
  display: flex;
  overflow: hidden;
}
.imageTile .imageObj {
  height: 295px;
  width: 295px;
  flex-grow: 1;
  flex-basis: 0;
  object-fit: cover;
}

.imageCover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.tileIcon {
  height: 23px;
  filter: invert(1);
}

.imageStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.imageLikesContainer,
.imageCommentsContainer {
  display: flex;
}

.imageLikesContainer{
  margin-right: 30px;
}
.tileIcon {
  margin-right: 7px;
}
.imageTile .likes {

}
.imageTile .comments {

}

.imageStatusText {
  display: inline;
  color: #FFFFFF;
  font-weight: 500;
}

.imageTile .imageControls {
  right: 0;
}

.imageTile .modal {
  margin: 5px 5px 0 0;
}

.imageTile .menuDots {
  filter: invert(1);
}

.imageControls {
  position: absolute;
  top: 0;
}
